<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Fundamentos de Matemática
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Vetorização;</li>
  <li>Arrays Numpy;</li>
  <li>Operações.</li>
</ol>

---

# **Exercícios**

## 1\. Tráfego de São Paulo

Neste exercício, vamos analisar dados de mobilidade urbana da cidade de São Paulo. A base de dados está neste [link](https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/develop/dataset/traffic.csv) e é uma copia do dado original, presente neste [link](https://archive.ics.uci.edu/ml/datasets/Behavior+of+the+urban+traffic+of+the+city+of+Sao+Paulo+in+Brazil). A base de dados contem a quantidade de acidentes ocorridos na cidade entre 14/12/09 e 18/12/09, das 07:00h ás 20:00h, agregados em intervalos de 30 minutos.

In [1]:
!wget -q "https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/develop/dataset/traffic.csv" -O traffic.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('traffic.csv', sep=';')

In [4]:
df.columns

Index(['hour', 'bus_stoped', 'broken_truck', 'vehicle_excess',
       'accident_victim', 'running_over', 'fire_vehicles',
       'occurrence_freight', 'incident__dangerous_freight', 'lack_electricity',
       'fire', 'flooding', 'manifestations', 'defect_trolleybuses',
       'tree_road', 'semaphore_off', 'intermittent_emaphore',
       'slowness_traffic_%'],
      dtype='object')

In [5]:
df = df.drop(columns=['slowness_traffic_%'])
df.columns

Index(['hour', 'bus_stoped', 'broken_truck', 'vehicle_excess',
       'accident_victim', 'running_over', 'fire_vehicles',
       'occurrence_freight', 'incident__dangerous_freight', 'lack_electricity',
       'fire', 'flooding', 'manifestations', 'defect_trolleybuses',
       'tree_road', 'semaphore_off', 'intermittent_emaphore'],
      dtype='object')

In [6]:
df.head()

   hour  bus_stoped  ...  semaphore_off  intermittent_emaphore
0     1           0  ...              0                      0
1     2           0  ...              0                      0
2     3           0  ...              0                      0
3     4           0  ...              0                      0
4     5           0  ...              0                      0

[5 rows x 17 columns]

In [8]:
df.to_csv('traffic.csv', sep=';')

- **Exemplo**:

O código abaixo extrai a 13ª linha do arquivo que representa a 14ª meia hora do dia 14/12/09, contadas a partir das 07:00h, ou seja, todos os incidentes ocorridos na cidade no dia em questão entre as 13:30h e 14:00h. Vemos, por exemplo, que dois ônibus e dois caminhões ficaram paradados nas ruas da cidade, atrapalhando o tráfego.

In [9]:
df.iloc[[13]]

    hour  bus_stoped  ...  semaphore_off  intermittent_emaphore
13    14           2  ...              0                      0

[1 rows x 17 columns]

### **1.1. Nativo**

Neste primeira atividade, você deve ler o código abaixo implementado em Python nativo e responder a seguinte pergunta:

> O que o código abaixo computa?

**Resposta**: substitua esse texto pela sua resposta

In [10]:
# -- read

data = None

with open(file='traffic.csv', mode='r', encoding='utf8') as fp:
  
  fp.readline()
  data = fp.read()

# -- analytics

day = 14
incidents = 0
incident_by_day = dict()

for timebox in data.split(sep='\n'):

  timebox_data = timebox.split(sep=';')

  # --
  # -- inicio da computação escalar
  # --

  for incident in timebox_data[1: len(timebox_data)-1]:
    incidents = incidents + int(incident)

  # --
  # -- fim da computação escalar
  # --

  try: 

    half_hour = int(timebox_data[0])

    if half_hour == 27:
      incident_by_day[day] = incidents
      day = day + 1
      incidents = 0

  except ValueError:
    continue

# -- results

for day in incident_by_day:
  
  print(f'{day}: {incident_by_day[day]}')

14: 398

### **1.2. NumPy**

Substitua o trecho do código do algoritmo que utiliza da **computação escalar** por um que utiliza da **computação vetorial**. Use o pacote NumPy.

In [11]:
# -- read

data = df.values.tolist()

with open(file='traffic.csv', mode='r', encoding='utf8') as fp:
  
  fp.readline()
  data = fp.read()

# -- analytics

import numpy as np


day = 14
incidents = 0
incident_by_day = dict()

for timebox in data.split(sep='\n'):

  timebox_data = timebox.split(sep=';')

  # --
  # -- inicio da computação vetorial
  # --
  
  a_timebox_data = np.array(timebox_data)
  incidents = np.sum(a_timebox_data)

  # --
  # -- fim da computação vetorial
  # --

  try: 

    half_hour = int(timebox_data[0])

    if half_hour == 27:
      incident_by_day[day] = incidents
      day = day + 1
      incidents = 0

  except ValueError:
    continue

# -- results

for day in incident_by_day:

  print(f'{day}: {incident_by_day[day]}')

TypeError: ignored

---